<%- include("partials/header") -%>
<h1>About</h1>
<p>This is a blog website that allows users to create/compose, publish and delete blogs. All published blogs will appear on the Home page, truncated to 100 characters with the 'Read more' option to redirect them to the individual full blog page.</p>
<p>The website stack utilises HTML, CSS, Bootstrap, Node.js (Express) server and EJS templates for dynamic content creation. In addition, the backend server utilises 'Route Parameters' to dynamically create new routes for newly created blogs and sending the content to a single EJS template that as a result creates and renders as many web pages as required to accommodate for all created blogs. All of this saves having to create so many web pages and routes for each blog.</p>
<%- include("partials/footer") -%>
